$main-color: grey;

header {
	text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  /*padding: 0;*/
  font-size: 25px;
}

ul li {
	display: inline-block;
	padding-right: 10px;
}

a {
	text-decoration: none;
	letter-spacing: 2px;
	color: $main-color;
}

a:hover {
	opacity: 0.5
}

#site {
	padding-top: 100px;

}

.nav-bar {
	padding-bottom: 50px;
}

.container {
	display: flex;
	flex-direction: row;
    justify-content: center;
}



.box {
	max-width: 500px;
	max-height: 600px;
	padding: 10px;
}

.box img {
    width: 100%;
    height: auto;
}

img:hover {
	cursor: pointer;
}

footer {
	padding-top: 50px;
}

#footer {
	text-align: center;
}

/*media queries*/
@media only screen and (max-width: 960px) {
	#site {
	    overflow: hidden;
	    padding: 30px;
	}
}

    





