
/*sass variables*/
$main-color: dark-grey;

/*fonts*/
@font-face {
	font-family: "October Twilight";
	src: url("fonts/October Twilight - OTF.otf") format("opentype"),
}

/*portfolio page */

header {
	text-align: center;
}

nav {

	ul {
	  list-style-type: none;
	  text-align: center;
	  font-size: 25px;
	  padding: 0;
	}

	li {
		display: inline-block;
		padding-right: 10px;
		letter-spacing: 2px;
		color: $main-color;
	}

	/*li span:hover {
		opacity: 0.5
	}
*/
	a {
		text-decoration: none;
		letter-spacing: 2px;
		color: $main-color;
	}

	/*a:hover {
		opacity: 0.5
	}*/
}

#canvas {
	/*font-size: 25px;*/
	font-family: "Helvetica Nueue", Helvetica, Arial, Verdana, sans-serif;
	letter-spacing: 5px;
	text-align: center;
	text-transform: uppercase;
	margin: 0 auto;
    width: 95%;
}

.logo {
	font-family:'October Twilight', Arial, sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 40px;
	text-transform: none;
	color: grey;
}

#site {
	padding-top: 80px;
}

.profile-img {
	width: 100px;
	height: 100px;
	margin: 0 auto;
}

.profile-img:hover {
	opacity: 0.5;
}

.profile-img img {
	border-radius: 50%;
	width: 100%;
	height: auto;
    /*border: 1px solid grey;*/
    /*box-shadow: */
}

/*when clicking the nav items*/
.clicked {
	opacity: 0.5;
	color: grey;
}

.nav-bar {
	margin-bottom: 50px;
}

.nav-bar .item {
	margin: 0px 10px;
	cursor: pointer; 
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 3px;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
    transition: 0.3s;
    -moz-transition: 0.3s;
    -webkit-transition: 0.3s;
}

.nav-bar .item:hover {
	/*opacity: 1;*/
	cursor: pointer;
}

#overlay {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	/*background: rgba(0, 0, 0, 1);*/
	top: 0px;
	left: 0px;
	z-index: 20;
}

#close {
	position: fixed;
	width: 20px;
	top: 20px;
	right: 20px;
}

#close:hover {
	cursor: pointer;
}
/*
#page {
	position: relative;
}*/

#arrow-container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
	display: none;
	z-index: 22;
}

.fa-arrow-circle-left {
	position: relative;
	right: 35vw;
	opacity: 0.4;
}

.fa-arrow-circle-right {
	position: relative;
	left: 35vw;
	opacity: 0.4;
}

.fa-arrow-circle-left:hover {
	cursor: pointer;
	opacity: 1;
}

.fa-arrow-circle-right:hover {
	cursor: pointer;
	opacity: 1;
}



.tag-line {
	opacity: 0.4;
	margin-top: 50px;
	font-size: 14px;
	font-weight: 100px;
}

.thumbnail-wrapper {
	margin: 60px;
	margin-top: 30px;
	display: none;
}

#people-content {
	display: block;
}


.container { 
	padding: .5vw;
	font-size: 0;
	display: -ms-flexbox;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: column;
	-webkit-flex-flow: row wrap; 
	flex-flow: row wrap; 
	display: -webkit-box;
	display: flex;
}

.box {
	-webkit-box-flex: auto;
	-ms-flex: auto;
	flex: auto; 
	width: 200px; 
	margin: .5vw; 
}

/*.box img {
    width: 100%;
    height: auto;
}

img:hover {
	cursor: pointer;
}
/*.oversize {*/
/*	height: auto;
	width: 200px;
}*/

.picture {
	cursor: pointer;
	position: relative;
	display: block;
	height: auto;
    width: 100%;
    transition: .4s ease-in-out;
}

.picture:hover {
	cursor: pointer;
	/*opacity: 0.8;*/
}

.pic-click {
	transition: .6s ease-in-out;
	position: fixed;
	z-index: 21;
	max-width: 60%;
	height: auto;
	top: 50%;
	left: 50%;
	transform:translate(-50%,-50%);
}

.pic-click:hover {
	cursor: default;
}

/*social*/

.social-container {
	/*padding-top: 50px;*/
	padding-bottom: 10px;
}

.social {
	text-align: center;
	padding: 0;
}

.social .item {
	/*border: 1px solid #444;*/
    cursor: pointer;
    /*font-size: 12px;*/
    letter-spacing: 3px;
    padding: 6px 25px;
    text-align: center;
    /*text-transform: uppercase;*/
    /*width: 20%;*/
    display: inline-block;
    margin-left: -5px;
    opacity: 0.5;
    transition: all 0.5s ease;
}

.social .item:hover {
	opacity: 1;
}


.fa-instagram {
	color: grey;
}

.fa-envelope {
	color: grey;
}

/*.social-icon i.fa {
 	background-color: black;
	display: inline-block;
	border-radius: 50%;
	padding: 12px 12px;
}*/

/*back-to-top button */

.back-to-top {
	background: none;
	margin: 0;
	position: fixed;
	bottom: 0;
	right: 0;
	width: 70px;
	height: 70px;
	z-index: 100;
	display: none;
	text-decoration: none;
	color: #ffffff;

}
 
.back-to-top i {
	font-size: 60px;
	color: grey;
	opacity: 0.5;
}

.back-to-top i:hover {
	color: black;
}

/*media queries*/
@media only screen and (max-width: 960px) {
	#site {
	    overflow: hidden;
	    padding: 30px;
	}
}